

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">{{ site_settings.site_name }}</a>
					</header>

				<!-- Nav -->
<nav id="nav">
<ul class="links">
{% for item in menu %}

                        <li {% if item.slug == slug %}class="active"{% endif %}><a href="{% url 'page' item.slug %}">{{ item.title }}</a></li>

{% endfor %}

{% if is_admin %}
                            <li><a href="{% url 'settings' %}">Settings</a></li>
                            <li><a href="{% url 'new_article' %}">New Article</a></li>
                        {% endif %}
                        {% if slug %}{% if can_edit %}
                            <li><a href="{% url 'edit_article' slug %}">Edit Article</a></li>
                        {% endif %}{% endif %}
</ul>
					</nav>
