# Created by .ignore support plugin (hsz.mobi)

.idea/
*__pycache__/
zappa_settings.json

*.swp
/ss_cms/settings.py
/website/migrations/*
!/website/migrations/__init__.py
.coverage
/htmlcov/
/htmlcov/*
/.coverage
/settings.cnf
