# Created by .ignore support plugin (hsz.mobi)

.idea/
*__pycache__/
zappa_settings.json
pratermade/settings.py


static/img/
website/wosctemplates/
static/wosc-assets/
/activate.sh


/static/img
/static/wosc-assets
/static/wosctemplates
