
<header id="header">
									<a hef="index.html" class="logo"><strong>Pratermade</strong> fun with geek stuff!</a>
									<ul class="icons">
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-linkedin"><span class="label">Linked-In</span></a></li>
										<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
                                        <li><a href="#" class="icon fa-youtube"><span class="label">Google+</span></a></li>
                                        <li><a href="#" class="icon fa-github"><span class="label">GetHub</span></a></li>
									</ul>
								</header>
{% for breadcrumb in breadcrumbs %}

    <a href="{% if breadcrumb.slug %}{% url 'article' breadcrumb.slug %}{% else %}{% url 'index' %}{% endif %}">{{ breadcrumb.title }}</a>&nbsp;>&nbsp;
{% endfor %}