
                                <header id="header">
									<a hef="{{ site_settings.www_root }}" class="logo"><strong>Pratermade</strong> doing my geek thing and having fun.</a>
									<ul class="icons">
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-linkedin"><span class="label">Linked-In</span></a></li>
										<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
                                        <li><a href="#" class="icon fa-youtube"><span class="label">Google+</span></a></li>
                                        <li><a href="#" class="icon fa-github"><span class="label">GetHub</span></a></li>
									</ul>
                                </header>

<a href="{{ site_settings.www_root }}" class="breadcrumbs">{{ site_settings.site_name }}</a>
{% for breadcrumb in breadcrumbs %}
&nbsp;<span>></span>&nbsp;<a href="{% url 'page' breadcrumb.slug %}" class="breadcrumbs">{{ breadcrumb.title }}</a>
{% endfor %}

