
                                <header id="header">
									<a href="{{ site_settings.www_root }}" class="logo"><strong>{{ site_settings.site_name }}</strong> {{ site_settings.site_tag_line }}</a>
    {% autoescape off %}
									{{ global_content.social_media }}
    {% endautoescape %}
                                </header>

<a href="{{ site_settings.www_root }}" class="breadcrumbs">{{ site_settings.site_name }}</a>
{% for breadcrumb in breadcrumbs %}
&nbsp;<span>></span>&nbsp;<a href="{% url 'page' breadcrumb.slug %}" class="breadcrumbs">{{ breadcrumb.title }}</a>
{% endfor %}
    {% if 'settings' in request.path %}
        &nbsp;<span>></span>&nbsp;Settings
    {% elif 'globalcontent' in request.path %}
        &nbsp;<span>></span>&nbsp;<a href="{% url 'settings' %}" class="breadcrumbs">Settings</a>&nbsp;<span>></span>&nbsp;Global Content Block
    {% endif %}

