{%  load staticfiles %}
{% block sidebar %}
	<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										{% for item in menu %}
											{% if item.sub_menu %}
                                                    <li>
                                                    <span class="opener {% for sub_item in item.sub_menu %}{% if sub_item.slug in request.path or item.slug in request.path %}active{% endif %}{% endfor %}">{{ item.title }}</span>
                                                    <ul>
                                                    {% for sub_item in item.sub_menu %}
                                                        <li class="{% if sub_item.slug in request.path %}active{% endif %}"><a href="{% url "page" sub_item.slug %}">{{ sub_item.title }}</a></li>
                                                    {% endfor %}
                                                    </ul>
                                                    </li>
											{% else %}
                                                    <li><a href="{% url 'page' item.slug %}">{{ item.title }}</a></li>
											{% endif %}
										{% endfor %}
                                    </ul>
                                </nav>

                            {% if "/toc/" in request.path %}
							<!-- SUB_Menu -->
								<nav id="menu" style="margin: -46px -20px 25px; padding: 12px 25px 12px; background-color: aliceblue;">
									<header class="major">
										<h3>{{ article.title }}</h3>
									</header>
									<ul id="toc" class="box2">
                                            {% for child in children %}
                                                <li>
                                                {% if child.slug %}
                                                    <a href="{% url 'article' child.slug %}">{{ child.title }}</a>
                                                {% elif child.link %}
                                                    <a href="{{ child.link }}">{{ child.title }}</a>
                                                {% endif %}
                                                </li>
                                            {% endfor %}
                                    </ul>
                                </nav>
                            {% endif %}

                            {%  if can_edit %}
                                <nav id="menu" class="administrator">
                                    <header class="major">
										<h2>Administration</h2>
									</header>
                                    <ul>
                                    <li>
                                            <a href="{% url 'settings' %}">Site Settings</a>
                                        </li>

                                        <li>
                                            <a href="/admin/website/article/">Admin Page</a>
                                        </li>

                                        {% if slug %}<li><a href="{% url 'edit_article' slug %}">Edit Article</a></li>{% endif %}
                                        <li><a href="{% url 'new_article' %}">New Article</a></li>
                                    </ul>
                                </nav>
                            {% endif %}

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Latest Projects</h2>
									</header>
									<div class="mini-posts">
										<article>
											<a href="#" class="image"><img src={% static "images/pic07.jpg" %} alt="" /></a>
											<p>This is has gone serverless! We are now running on AWS Lambda. The sourcecode and a tutorial now available.</p>
										</article>
										<article>
											<a href="#" class="image"><img src={% static "images/pic08.jpg" %} alt="" /></a>
											Stuff and things!
											<p></p>
										</article>
									</div>
									<ul class="actions">
										<li><a href="#" class="button">More</a></li>
									</ul>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<p>The best way to get in touch with me is following me on twitter. I do occasionally answer emails to the email below:</p>
									<ul class="contact">
										<li class="fa-envelope-o"><a href="#">steve@pratermade.com</a></li>
									</ul>
								</section>
                            <!-- Footer -->
								<footer id="footer">
                                    <p class="copyright"><a href="#top">Back to Top</a></p>
									<p class="copyright">&copy; Pratermade Services. All rights reserved. </p>
								</footer>

						</div>
					</div>
{% endblock %}
