@font-face {
	font-family: 'icomoon-aria';
	src:url('fonts/icomoon-aria.eot?kaov3c');
	src:url('fonts/icomoon-aria.eot?#iefixkaov3c') format('embedded-opentype'),
		url('fonts/icomoon-aria.woff?kaov3c') format('woff'),
		url('fonts/icomoon-aria.ttf?kaov3c') format('truetype'),
		url('fonts/icomoon-aria.svg?kaov3c#icomoon-aria') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon-aria';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-login:before {
	content: "\e658";
}
.icon-mouse:before {
	content: "\e601";
}
.icon-home:before {
	content: "\e602";
}
.icon-newspaper:before {
	content: "\e603";
}
.icon-pencil:before {
	content: "\e604";
}
.icon-images:before {
	content: "\e605";
}
.icon-music:before {
	content: "\e606";
}
.icon-play:before {
	content: "\e607";
}
.icon-camera:before {
	content: "\e608";
}
.icon-connection:before {
	content: "\e609";
}
.icon-book:before {
	content: "\e60a";
}
.icon-library:before {
	content: "\e600";
}
.icon-profile:before {
	content: "\e60b";
}
.icon-file:before {
	content: "\e60c";
}
.icon-copy:before {
	content: "\e60d";
}
.icon-stack:before {
	content: "\e60e";
}
.icon-folder-open:before {
	content: "\e60f";
}
.icon-cart:before {
	content: "\e610";
}
.icon-coin:before {
	content: "\e611";
}
.icon-support:before {
	content: "\e612";
}
.icon-phone:before {
	content: "\e613";
}
.icon-address-book:before {
	content: "\e614";
}
.icon-envelope:before {
	content: "\e615";
}
.icon-location:before {
	content: "\e616";
}
.icon-clock:before {
	content: "\e617";
}
.icon-calendar:before {
	content: "\e618";
}
.icon-screen:before {
	content: "\e619";
}
.icon-mobile:before {
	content: "\e61a";
}
.icon-bubbles:before {
	content: "\e61b";
}
.icon-user:before {
	content: "\e61c";
}
.icon-users:before {
	content: "\e61d";
}
.icon-quotes-left:before {
	content: "\e61e";
}
.icon-search:before {
	content: "\e61f";
}
.icon-zoomin:before {
	content: "\e620";
}
.icon-zoomout:before {
	content: "\e621";
}
.icon-lock:before {
	content: "\e622";
}
.icon-cog:before {
	content: "\e623";
}
.icon-lab:before {
	content: "\e624";
}
.icon-accessibility:before {
	content: "\e625";
}
.icon-signup:before {
	content: "\e626";
}
.icon-cloud:before {
	content: "\e627";
}
.icon-earth2:before {
	content: "\e628";
}
.icon-link:before {
	content: "\e629";
}
.icon-flag:before {
	content: "\e62a";
}
.icon-attachment:before {
	content: "\e62b";
}
.icon-star:before {
	content: "\e62c";
}
.icon-heart:before {
	content: "\e62d";
}
.icon-info:before {
	content: "\e62e";
}
.icon-cancel-circle:before {
	content: "\e62f";
}
.icon-checkmark-circle:before {
	content: "\e630";
}
.icon-minus:before {
	content: "\e631";
}
.icon-plus:before {
	content: "\e632";
}
.icon-checkbox-checked:before {
	content: "\e633";
}
.icon-checkbox-unchecked:before {
	content: "\e634";
}
.icon-checkbox-partial:before {
	content: "\e635";
}
.icon-newtab:before {
	content: "\e636";
}
.icon-share:before {
	content: "\e637";
}
.icon-mail:before {
	content: "\e638";
}
.icon-googleplus:before {
	content: "\e639";
}
.icon-facebook:before {
	content: "\e63a";
}
.icon-instagram:before {
	content: "\e63b";
}
.icon-twitter:before {
	content: "\e63c";
}
.icon-feed:before {
	content: "\e63d";
}
.icon-youtube:before {
	content: "\e63e";
}
.icon-vimeo2:before {
	content: "\e63f";
}
.icon-flickr:before {
	content: "\e640";
}
.icon-picassa:before {
	content: "\e641";
}
.icon-dribbble:before {
	content: "\e642";
}
.icon-github:before {
	content: "\e643";
}
.icon-wordpress:before {
	content: "\e644";
}
.icon-blogger:before {
	content: "\e645";
}
.icon-tumblr:before {
	content: "\e646";
}
.icon-tux:before {
	content: "\e647";
}
.icon-apple:before {
	content: "\e648";
}
.icon-android:before {
	content: "\e649";
}
.icon-windows:before {
	content: "\e64a";
}
.icon-soundcloud:before {
	content: "\e64b";
}
.icon-linkedin:before {
	content: "\e64c";
}
.icon-delicious:before {
	content: "\e64d";
}
.icon-stumbleupon:before {
	content: "\e64e";
}
.icon-pinterest:before {
	content: "\e64f";
}
.icon-paypal:before {
	content: "\e650";
}
.icon-libreoffice:before {
	content: "\e651";
}
.icon-file-pdf:before {
	content: "\e652";
}
.icon-file-openoffice:before {
	content: "\e653";
}
.icon-file-word:before {
	content: "\e654";
}
.icon-file-excel:before {
	content: "\e655";
}
.icon-file-zip:before {
	content: "\e656";
}
.icon-file-powerpoint:before {
	content: "\e657";
}
