/* WOSC CSS by Nicholas Hood */

/* ### GLOBAL ### */
img { border-radius:9px }

/* ### HEADER ### */

/* ### MENU ### */
#menu > ul > li > ul > li.active a {  color: #1b6daa !important }
.sub-menu, .content-side-menu { border-bottom: solid 2px rgb(245, 106, 106) !important;  margin: -10px 5px 25px 25px !important;  padding: 12px 25px 12px !important; background-color: aliceblue; }
.content-side-menu { float:right }
.editor-menu { background: lightcoral; padding:10px !important; border-radius:10px }
.sub-menu { display:none }

/* ### CONTENT ### */
.google-maps {
    position: relative;
    padding-bottom: 56%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


/* ### MEDIA QUERIES ### */
@media screen and (min-width:1281px) and (max-width: 1680px) {
    #main > .inner > section {
        padding: 2em 0 3em 0 !important;
    }
    #header {
    padding-top: 2em;
    }
}

@media screen and (max-width: 1281px) {
    #header {
    padding-top: 3em;
    }
}

@media only screen and (max-width:768px) {
.content-side-menu { display: none }
.sub-menu { display: block }
}

@media screen and (max-width: 736px) {
    #header {
    padding-top: 3em; padding-left:
    }
}
/*@media only screen and (min-width: 1281px) {*/
/*.content-side-menu { display:none }*/
/*.sub-menu { display: block }*/
/*}*/
