{%  load staticfiles %}
{% block sidebar %}
            <div id="sidebar">
                <aside>
                    <div class="sidebar-content top-sidebar"><br />
{#                        <div class="topleftsidemenu page-heading2">#}
{#                            <a href="index.php?page=enroll"><p title="MENU">Enrollment</p></a></div>#}
{#                        <hr style="margin: 8px -8px !important;">#}

                        <div class="holder transparent">
                            <ul id="wosc-vert-menu">
                                {% for item in menu %}
                                    {% if item.sub_menu %}
                                            <li>
                                                <a href="{% url 'page' item.slug %}">{{ item.title }}</a>
                                                    <ul role="menu" class="sub-menu menu" aria-hidden="true">
                                                    {% for sub_item in item.sub_menu %}
                                                        <li role="menuitem" tabindex="-1" class="menu-item {% if sub_item.slug in request.path %}active{% endif %}"><a href="{% url "page" sub_item.slug %}">{{ sub_item.title }}</a></li>
                                                    {% endfor %}
                                                    </ul>
                                            </li>
                                    {% else %}
                                            <li><a href="{% url 'page' item.slug %}">{{ item.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <em id="corner"></em>
                    </div><!-- ENDS sidebar-content -->
                </aside>


            <!-- sidebar-extension -->
{#            <div id="sub-sidebar" class="sidebar-extension">#}
                <aside id="sub-sidebar2" class="sidebar-extension">
                    {% if children %}
                        <div id="RIGHT-CONTENT-MORE" class="BLOCK-COLOR">
                            <div class="topleftsidemenu" style="margin: 7px -5px 0 -7px">
                                <p>Related Pages</p></div>
                            <hr style="margin: 8px -8px !important;">

                            <div class="holder">
                                <ul id="wosc-vert-menu">
                                    {%  for child in children %}
                                        {% if child.slug %}
                                            <li><a href="{% url 'article' child.slug %}">{{ child.title }}</a></li>
                                        {% elif child.link %}
                                            <li><a href="{{ child.link }}">{{ child.title }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>

                                <!-- <p><a href="grad"><img onmouseover="this.src='quicklinks/graduationo.gif';" onmouseout="this.src='quicklinks/graduation.gif';" src="quicklinks/graduation.gif" alt="Graduation information Link" width="170" height="38" style="box-shadow: none;margin: 0 9px;" /></a></p> -->
                            </div>
                        </div><!--/RIGHT-CONTENT-MORE --><p>&nbsp;</p>
                    {% endif %}
                        <!-- <hr style="margin: 24px -8px !important;"> -->

                        <!-- ### Add Below Column Only If Exists ### -->

                        <!--     -->
                        <!-- Only show content block when it has some content tab='Side Block' -->
                        <!--/Side Block Break -->

                        <div style="#border-bottom:1px dotted #888;margin:0 0 25px;"><p></p></div>
                        <div style="text-align: center">
                            <p><a title="Western Oklahoma State College"
                                  href="https://www.instagram.com/woscpioneer/" target=_blank>
                                <!-- ##### Refreshing sidebar images ##### -->
                                <script LANGUAGE="JavaScript">
                                    var theImages = new Array()

                                    theImages[0] = '/static/img/HDRWesternsm/27.JPG'
                                    theImages[1] = '/static/img/HDRWesternsm/25.JPG'
                                    theImages[2] = '/static/img/HDRWesternsm/03.JPG'
                                    theImages[3] = '/static/img/HDRWesternsm/24.JPG'
                                    theImages[4] = '/static/img/HDRWesternsm/05.JPG'
                                    theImages[5] = '/static/img/HDRWesternsm/06.JPG'
                                    theImages[6] = '/static/img/HDRWesternsm/07.JPG'
                                    theImages[7] = '/static/img/HDRWesternsm/08.JPG'
                                    theImages[8] = '/static/img/HDRWesternsm/09.JPG'
                                    theImages[9] = '/static/img/HDRWesternsm/10.JPG'
                                    theImages[10] = '/static/img/HDRWesternsm/11.JPG'
                                    theImages[11] = '/static/img/HDRWesternsm/12.JPG'
                                    theImages[12] = '/static/img/HDRWesternsm/13.JPG'
                                    theImages[13] = '/static/img/HDRWesternsm/14.JPG'
                                    theImages[14] = '/static/img/HDRWesternsm/15.JPG'
                                    theImages[15] = '/static/img/HDRWesternsm/16.JPG'
                                    theImages[16] = '/static/img/HDRWesternsm/17.JPG'
                                    theImages[17] = '/static/img/HDRWesternsm/18.JPG'
                                    theImages[18] = '/static/img/HDRWesternsm/19.JPG'
                                    theImages[19] = '/static/img/HDRWesternsm/20.JPG'
                                    theImages[20] = '/static/img/HDRWesternsm/21.JPG'
                                    theImages[21] = '/static/img/HDRWesternsm/22.JPG'
                                    theImages[21] = '/static/img/HDRWesternsm/23.JPG'
                                    theImages[21] = '/static/img/HDRWesternsm/24.JPG'
                                    theImages[21] = '/static/img/HDRWesternsm/25.JPG'
                                    theImages[21] = '/static/img/HDRWesternsm/26.JPG'
                                    theImages[21] = '/static/img/HDRWesternsm/27.JPG'

                                    var j = 0
                                    var p = theImages.length;
                                    var preBuffer = new Array()
                                    for (i = 0; i < p; i++) {
                                        preBuffer[i] = new Image()
                                        preBuffer[i].src = theImages[i]
                                    }
                                    var whichImage = Math.round(Math.random() * (p - 1));

                                    function showImage() {
                                        document.write('<img style="border: 2px outset #888" alt="Image of the Western Campus" class="rotateimages reverse-transparent" src="' + theImages[whichImage] + '">');
                                    }
                                </script>
                                <script language="JavaScript">showImage();</script>
                            </a><br/><span style="font-size: x-small;">Western Oklahoma State College</span></p>
                            <p><a href="enroll" class="button-green"> APPLY & ENROLL! </a><a href="courseschedule"
                                                                                             class="button-orange">
                                Course Schedule </a></p></div>


                        <div style="text-align: center;margin:0 auto">
                            <a href="index.php?page=give">
                                <img src="/static/img/Ways to Give Meaghan for homepage_sm.jpg" alt="Ways to Give!"
                                     style="float:none; width:180px; max-width:190px; margin: 12px 0 18px">
                            </a>
                        </div>

                            {%  if is_editor %}
                                <nav class="editor-menu" style="background: ghostwhite; margin: 9px -9px -19px; padding: 9px 9px 15px; border-radius: 10px;">
                                    <header style="min-height:inherit !important; background:none; border-bottom: 10px solid gold !important; border-top: 5px solid #040 !important; margin: -9px -10px; text-align: center;">
										<h2>Administration</h2>
									</header>
                                    <ul style="list-style: none; margin-top: 22px;">
                                        {% if can_edit %}
                                            {% if 'editArticle' in request.path %}
                                                <li style="text-align:center">Editing <span style="border-bottom:1px dotted #aaa">{{ article.title }}</span></li>
                                                <li style="text-align:center"><a href="{% url 'page' slug %}" class="button-blue">Submit Changes</a></li>
                                                <br /><hr /><br />
                                            {% else %}
                                                <li><a href="{% url 'edit_article' slug %}">* Edit Article *</a></li>
                                            {% endif %}
                                        {% endif %}
                                        <li>
                                            <a href="/admin/website/article/">Admin Page</a>
                                        </li>
                                        <li><a href="/admin/website/article/add/">New Article</a></li>
                                    </ul>
                                </nav>
                            {% endif %}
                </aside><!-- ENDS sidebar-content -->
            </div><!-- ENDS sidebar -->


{% endblock %}
