    <link rel="stylesheet" type="text/css" href="http://www2.wosc.edu/static/wosc-assets/css/2012-styles.css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <!-- FONTS -->
    <script src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=3jsagmlrgroqn5217lp0xs4ncumc8xvml0sqy8gaihabxrxy'></script>
    <link rel="stylesheet" href="http://www2.wosc.edu/static/wosc-assets/fonts/icomoon/style.min.css">
    <!--[if lt IE 8]><!-->
    <link rel="stylesheet" href="http://www2.wosc.edu/static/wosc-assets/fonts/icomoon/ie7/ie7.css">
    <!--<![endif]-->
    <script src="http://www2.wosc.edu/static/wosc-assets/js/jquery.min.js"></script>

    <meta charset="utf-8"/>
    <title>{% if article.title %}{{ article.title }} - {% endif %}Western Oklahoma State College | Altus, OK</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="https://www.wosc.edu/img/icons/W_green.png">
{#    <base href="https://www.wosc.edu/" />#}
{#    <meta name="title" content="{{ article.title }} - Western Oklahoma State College | Altus, OK" />#}
{#    <meta name="copyright" content="Western Oklahoma State College | Altus, OK" />#}
{#    <meta name="language" content="en_US" />#}
{#    <meta name="url" content="https://www.wosc.edu" />#}
{#    <meta name="identifier-URL" content="https://www.wosc.edu" />#}
{#    <meta name="revised" content="Mon, 26 Mar 2018 11:54:54" />#}
{#    <meta name="original-source" content="https://www.wosc.edu{{ request.path }}" />#}
{#    <link rel="alternate" type="application/rss+xml" title="Pioneer News / Blog » Feed" href="https://news.wosc.edu/?feed=rss2" />#}