<div id="mobileonly"><div class="top-open2-wrapper clearfix">
<div class="wrapper">
<a href="#" id="top-open2"><span class="navnsearch"><span class="icon-stack"></span> Navigation</span></a>
</div>
</div>

<div id="top-widget-holder">
<div class="wrapper">
<div id="top-widget">

  <div id="mobile-nav-holder" role="navigation" aria-label="Main Mobile menu">
    <ul id="mobile-nav" class="root-level2" role="menubar">
      <li onclick="toggle_visibility('wosc1');" aria-label="About WOSC Menu"><span class="icon-plus"></span> &nbsp; About WOSC
       <ul id="wosc1" style="display:none;position:relative">
		<li><a href="aboutwosc" >Mission, History &amp; Purpose</a></li>
		<li><a href="information" >Institutional Information</a></li>
		<li><a href="presidentmessage" >President &amp; Leadership</a></li>
		<li><a href="boardofregents" >Board of Regents</a></li>
		<li><a href="jobs">Job Opportunities</a></li>
		<li><a href="index.php?page=Department-Directory">Department Directory</a></li>
<!-- 		<li><a href="http://OKHigherEd.org" target="_blank">Oklahoma State Regents for Higher Education</a></li> -->
		<li><a href="visiting">Campus Map &amp; Area</a></li>
		<li><a href="campuslife" >Campus Life</a></li>
       </ul>
      </li>
      <li onclick="toggle_visibility('wosc2');" aria-label="Enrollment Menu"><span class="icon-plus"></span> &nbsp; Enrollment
       <ul id="wosc2" style="display:none;position:relative">
		<li><a href="enroll" ><b>Apply to Western</b></a></li>
		<li><a href="admissions" >Admissions</a></li>
		<li><a href="finaid" >Financial Aid</a></li>
		<li><a href="businessaffairs" >Business Affairs</a></li>
		<li><a href="tuitionfees" >Tuition and Fees</a></li>
		<li><a href="catalog" > College Catalog &amp; Degree Plans</a></li>
		<li><a href="online" >Online Education</a></li>
		<li><a href="courseschedule" >Course Schedule</a></li>
       </ul>
      </li>
      <li onclick="toggle_visibility('wosc3');" aria-label="Current Students Menu"><span class="icon-plus"></span> &nbsp; Current Students
       <ul id="wosc3" style="display:none;position:relative">
		<li><a href="https://admin.wosc.edu/cc4/sis.html" target="_blank"><b>Campus Connect</b> <br />(Enroll / Pay / Schedule / Grades)</a></li>
		<li><a href="https://moodle.wosc.edu" ><b>Moodle</b> <br />(COURSE Manager / E-Mail)</a></li>
		<li><a href="library" >Library (LRC)</a></li>
		<li><a href="studentservices" >Student Services</a></li>
		<li><a href="studentactivities" >Student Activities</a></li>
		<li><a href="studentstore" >Student Store (Book)</a></li>
		<li><a href="calendar" >Academic &amp; Event Calendar</a></li>
       </ul>
      </li>
      <li onclick="toggle_visibility('wosc4');" aria-label="Academics Menu"><span class="icon-plus"></span> &nbsp; Academics
       <ul id="wosc4" style="display:none;position:relative">
		<li><a href="catalog" > College Catalog &amp; Degree Plans</a></li>
		<li><a href="militarystudents" > Military Students</a></li>
		<li><a href="articulationagreement" > Articulation Agreements</a></li>
		<li><a href="cooperativealliances" > Cooperative Alliances</a></li>
		<li><a href="catalog#degree-program-websites" >  Dept. / Program Pages</a></li>
		<li><a href="it" > Information Technology</a></li>
		<li><a href="assessmentreports" > Research &amp; Reports</a></li>
       </ul>
      </li>
      <li onclick="toggle_visibility('wosc5');" aria-label="Pioneer Sports Menu"><span class="icon-plus"></span> &nbsp; Pioneer Sports
       <ul id="wosc5" style="display:none;position:relative">
		<li><a href="baseball" >Baseball</a></li>
		<li><a href="mensbasketball" >Basketball, Men's</a></li>
		<li><a href="womensbasketball" >Basketball, Women's</a></li>
		<li><a href="cheerleading" >Cheerleading</a></li>
		<li><a href="rodeo" >Rodeo</a></li>
		<li><a href="softball" >Softball</a></li>
		<li><a href="sports">Athletic Schedules</a></li>
       </ul>
      </li>
      <li onclick="toggle_visibility('wosc6');" aria-label="Alumni & Community Menu"><span class="icon-plus"></span> &nbsp; Alumni & Community
       <ul id="wosc6" style="display:none;position:relative;">
		<li><a href="alumni" >Alumni &amp; Friends</a></li>
		<li><a href="foundation" >Foundation &amp; Scholarships</a></li>
		<li><a href="http://www.altuschamber.com/" > Altus Community</a></li>
		<li><a href="concurrentstudents" > Concurrent Enrollment</a></li>
		<li><a href="upwardbound" title="Upward Bound"> Upward Bound</a></li>
		<li><a href="visiting" title="Visiting WOSC"> Visiting WOSC (MAP)</a></li>
       </ul>
      </li>
    </ul>
  </div><!--/mobile-nav-holder -->
</div><!--/top-widget -->
</div><!--/wrapper -->
</div><!--/top-widget-holder -->
</div><!--/mobileonly -->