{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" class=" js flexbox canvas canvastext postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache" style="" lang="en">
<!--
                        ( o o )
   .---------------.oooO--(_)--Oooo.---------------.
 /       _       __          __                      \
|       | |     / /__  _____/ /____  _________        |
|       | | /| / / _ \/ ___/ __/ _ \/ ___/ __ \       |
|       | |/ |/ /  __(__  ) /_/  __/ /  / / / /       |
|       |__/|__/\___/____/\__/\___/_/  /_/ /_/        |
|                                                     |
|                    .oooO                            |
 \                   (   )   Oooo.                   /
   `------------------\ (----(   )-----------------`
                       \_)    ) /
                             (_/
 -->
<head>

{% include "layouts/2012-head-css-meta.html" %}

</head>




<body>
    <a name="top" class="accessibility">Back to Top</a>
    <ul id="skip" class="robots-nocontent accessibility2">
        <li><a href="javascript:void(0);" onclick="document.getElementById('q').focus();" rel="nofollow" class='accessibility'>Skip to Search</a></li>
        <li><a href="https://www.wosc.edu/index.php?page=Student-Services#content" class="accessibility">Skip to Content</a></li>
        <li><a href="https://www.wosc.edu/index.php?page=Student-Services#footer" class="accessibility">Skip to Footer Links</a></li>
        <!--	  <li><a href="https://www.wosc.edu/index.php?page=Student-Services#main" class="accessibility">Skip to Content</a></li>
        <li><a href="javascript:void(0);" onclick="document.getElementById('gsc-i-id1').focus();" rel="nofollow" class='accessibility'>Skip to Search</a></li> -->
    </ul>


{% include "layouts/2012-mobile-menu.html" %}


{% include "layouts/2012-header-menu.html" %}


<!-- MAIN -->
    {% block main %}
    {% endblock %}
<!-- ENDS MAIN -->


{% include "layouts/2012-footer-js.html" %}


</body>
</html>
