{% extends "layouts/2012-container.html" %}
{% load staticfiles %}
{% block main %}

<div id="main" style="width:100%; outline:0!important;padding-bottom:80px" tabindex="-1">
    <div class="wrapper clearfix">
        <div class="content-bg-color">
            <style>
                a:focus, a:hover {text-decoration: none; } .marketing a {border: none !important } .marketing p {height: 75px; } .featurette-heading {margin-top: 5px } .so .panel-body {padding: 0 15px } .so .col-sm-3 {border: 1px solid #ddd;height: 175px;padding: 10px; }.so .col-sm-3 h4 {margin-top: 30px } #sidebar, header {min-height: 125px !important } ol, ul {margin-bottom: 0px !important }
            </style>
            <!-- page content -->
            <div id="page-content" class="clearfix">

                <!-- floated content -->
                <div class="floated-content floated-content-wide">

                    <div class="sub-menu-anchor-link"><a href="https://www.wosc.edu{{ request.path }}#sidebartop"
                                                         class="button">Side Bar</a></div>
                    <!--/sub-menu-anchor-link-->

                    <div class="breadcrumbs">
                    <p class="transparent2"><a href="https://www2.wosc.edu/">HOME</a> &#8596; <a href="https://www.wosc.edu/index.php?page=Student-Services#">---CURRENT STUDENTS---</a>  &#8596;  <span  class="breadcrumbs-currentpage">Student Services</span></p>
                    </div><!--/breadcrumbs-->

                        {% if article.header_image %}
                            <img src="{{ article.header_image.url }}">
                        {% endif %}

                    <h2 class="page-heading">
                        <span>
                            {{ article.title }}
                        </span>
                    </h2>
                    <!-- ### BootStrap ### -->
{#                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>#}
{#                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>#}
{#                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">#}




                    <div id="content" tabindex="-1" class="contentanchor">
                        <span class="maincontents">
                            {% autoescape off %}
                                {{ article.content }}

                                {% if children %}
                                    <div id="toc" class="box2">
                                        <h3>Related Pages</h3>
                                            <ul {% if children.count < '1' %}class="one"{% endif %}>
                                            {%  for child in children %}
                                                {% if child.slug %}
                                                    <li><a href="{% url 'article' child.slug %}">{{ child.title }}</a></li>
                                                {% elif child.link %}
                                                    <li><a href="{{ child.link }}">{{ child.title }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            </ul>
                                    </div>
                                {% endif %}
                            {% endautoescape %}
                        </span>
                    </div><!--/end Content -->


                </div><!-- /ends contentanchor -->
            </div><!-- ends floated content -->

            <!-- sidebar -->
            <div id="sidebar">
                <aside>
                    <div class="sidebar-content top-sidebar"><br />
{#                        <div class="topleftsidemenu page-heading2">#}
{#                            <a href="index.php?page=enroll"><p title="MENU">Enrollment</p></a></div>#}
{#                        <hr style="margin: 8px -8px !important;">#}

                        <div class="holder transparent">
                            <ul id="wosc-vert-menu">
                                {% for item in menu %}
                                    {% if item.sub_menu %}
                                            <li>
                                                <a href="{% url 'page' item.slug %}">{{ item.title }}</a>
                                                    <ul role="menu" class="sub-menu menu" aria-hidden="true">
                                                    {% for sub_item in item.sub_menu %}
                                                        <li role="menuitem" tabindex="-1" class="menu-item {% if sub_item.slug in request.path %}active{% endif %}"><a href="{% url "page" sub_item.slug %}">{{ sub_item.title }}</a></li>
                                                    {% endfor %}
                                                    </ul>
                                            </li>
                                    {% else %}
                                            <li><a href="{% url 'page' item.slug %}">{{ item.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <em id="corner"></em>
                    </div><!-- ENDS sidebar-content -->
                </aside>
            </div>
            <!-- ENDS sidebar -->

        </div><!------- / page content ------->

    </div><!--/content-bg-color -->
</div><!--/wrapper -->
</div><!--/main -->


{% endblock %}
