{% extends "layouts/2012-container.html" %}
{% load staticfiles %}
{% block main %}


									{% autoescape off %}
                                        {{ article.content }}

                                        <div id="toc" class="box2">
                                            <table>
                                                <thead>{{ article.title }}: <i>Table of Contents</i></thead>
                                                {%  for child in children %}
                                                    <tr>
                                                    {% if child.slug %}
                                                        <td><a href="{% url 'article' child.slug %}">{{ child.title }}</a></td>
                                                    {% elif child.link %}
                                                        <td><a href="{{ child.link }}">{{ child.title }}</a></td>
                                                    {% endif %}
                                                    </tr>
                                                {% endfor %}
                                                <tr></tr>
                                            </table>
                                        </div>
									{% endautoescape %}

{% endblock %}
