{% extends "layouts/homepage.html" %}
{% load staticfiles %}
{% block main %}
					<div id="main">
						<div class="inner">

							<!-- Header -->
								{% include "layouts/header.html" %}

							<!-- Content -->
								<section>

									{% autoescape off %}
									    {{ form.as_p }}
									{% endautoescape %}

								</section>

						</div>
					</div>

<script>
  tinymce.init({
      selector: '.editable',
      branding: false,
      plugins: 'image preview code link fullscreen',
      toolbar: 'undo redo | link image file | preview code fullscreen',
      images_upload_handler: function (blobInfo, success, failure) {
          var xhr, formData;
          xhr = new XMLHttpRequest();
          xhr.withCredentials = false;
          xhr.open('POST', '{% url 'imageupload' slug %}');

          xhr.onload = function(){
              var json;
              if (xhr.status != 200) {
                  failure('HTTP Error: ' + xhr.status);
                  return;
              }
          json = JSON.parse(xhr.responseText);
          if (!json || typeof json.location != 'string') {
              failure('Invalid JSON: ' + xhr.responseText);
              return;
          }
          success(json.location);
      };
      formData = new FormData();
      formData.append('file', blobInfo.blob(), blobInfo.filename());
      formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
      xhr.send(formData);
  },
  file_browser_callback: myFileBrowser
});

function myFileBrowser (field_name, url, type, win) {

   //alert("Field_Name: " + field_name + "nURL: " + url + "nType: " + type + "nWin: " + win); // debug/testing

    var cmsURL = window.location.pathname;
    var searchString = window.location.search;
    if(searchString.length < 1) {
        searchString = "?";
    }
    tinyMCE.activeEditor.windowManager.open({
        file : cmsURL,
        title : 'My File Browser',
        width : 420,  // Your dimensions may differ - toy around with them!
        height : 400,
        resizable : "yes",
        inline : "yes",  // This parameter only has an effect if you use the inlinepopups plugin!
        close_previous : "no"
    }, {
        window : win,
        input : field_name
    });
    return false;
}

  </script>

{#<script> #}
{#    #}
{#    #}
{#console.log("Running...");#}
{#ClassicEditor.create(document.querySelector('#mainContentEditor'))#}
{#	.catch( error=> {#}
{#		console.error(error);#}
{#	});#}
{#ClassicEditor.create(document.querySelector('#editor'))#}
{#        .catch( error=> {#}
{#                console.error(error);#}
{#        });#}
{#</script>#}

<style>
/* ### Edit Page Changes ### */
    #id_content_ifr {
        min-height: 500px;
    }
    .mce-content-body img {
        max-width: 100%;
    }
    section p:nth-child(n+3) {
        width: 48%;
        display: inline-block;
        padding: 0 30px;
    }
</style>
{% endblock %}
