{% extends "layouts/homepage.html" %}
{% load staticfiles %}
{% block main %}
<!-- test comment -->


					<div id="main">
						<div class="inner">

							<!-- Header -->
								{% include "layouts/header.html" %}

							<!-- Content -->
								<section>
                                <form action="." method="post">
                                    {% csrf_token %}
									{% autoescape off %}
									{{ form.as_p }}
									{% endautoescape %}<br />
                                    <button id="submit" type="submit">Update</button>
                                </form>
								</section>


						</div>
					</div>
<script src="{% static "assets/js/tinymce/tinymce.min.js" %}" ></script>
<script>
  tinymce.init({
      selector: '.editable',
      branding: false,
      plugins: 'image preview code link fullscreen',
      toolbar: 'undo redo | link image file | preview code fullscreen',
      image_dimensions: false,
      file_picker_types: 'file image media',
      {#image_class_list: [#}
      {#    {title: 'sizable', value: 'sizable'},#}
      {#    {title: 'fixed-size', value: 'fixed'}#}
      {#],#}
      images_upload_handler: function(blobInfo, success, failure) {
          imageUploadHandler(blobInfo, success, failure);
      },
      file_upload_handler: function(blobInfo, success, failure) {
          imageUploadHandler(blobInfo, success, failure);
      },
      file_picker_callback: function(callback, value, meta){
              myFilePicker(callback, value, meta);
  }
});

function myFilePicker(callback, value, meta) {
    console.log(meta);

    if (meta.filetype == "image"){
        var url = {% url 'imagebrowser' %};
        var title = "Image Browser";
    }
    else{
        var url = {% url 'filebrowser' %};
        var title = "File Browser";
    }
    tinymce.activeEditor.windowManager.open({
        title: title,
        url: url,
        width: 650,
        height: 550,
    }, {
        oninsert: function (url) {
            console.log(url);
            callback(url);
        }
    });
}

function imageUploadHandler (blobInfo, success, failure) {
          console.log("Something went here");
          var xhr, formData;
          xhr = new XMLHttpRequest();
          xhr.withCredentials = false;
          xhr.open('POST', '{% url 'imageupload' slug %}');

          xhr.onload = function(){
              var json;
              if (xhr.status != 200) {
                  failure('HTTP Error: ' + xhr.status);
                  return;
              }
          json = JSON.parse(xhr.responseText);
          if (!json || typeof json.location != 'string') {
              failure('Invalid JSON: ' + xhr.responseText);
              return;
          }
          success(json.location);
      };
      formData = new FormData();
      formData.append('file', blobInfo.blob(), blobInfo.filename());
      formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
      xhr.send(formData);
}
</script>

    <style>

/* ### Edit Page Changes ### */
    #id_content_ifr {
        min-height: 500px;
    }
    .mce-content-body img {
        max-width: 100%;
    }
    section p:nth-child(n+4) {
        width: 48%;
        display: inline-block;
        padding: 0 30px;
    }

    #submit {
        float:right;
    }

</style>

{% endblock %}
