{% extends "layouts/homepage.html" %}
{% load staticfiles %}
{% block main %}
					<div id="main">
						<div class="inner">

							<!-- Header -->
								{% include "layouts/header.html" %}

							<!-- Content -->
								<section>
									<header class="main">
										<h1>{{ article.title }}</h1>
									</header>

									<img src="{{ article.header_image.url }}">

									{% autoescape off %}{{ article.content }}{% endautoescape %}

								</section>

						</div>
					</div>
{% endblock %}