{% extends "layouts/homepage.html" %}
{% load staticfiles %}
{% block main %}
    <div id="main">

						<div class="inner">

							<!-- Header -->
								{% include "layouts/header.html" %}

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
                                            <h1>PraterMade<br /></h1>
											<p>Having fun just doing my thing.</p>
										</header>
										<p>Internet of Things, programming, hobby electronics and all things tech. These are pretty much the most interesting things I do.
                                            I like to share them here because it helps me learn and allow me to have documentation for future reference. If you like this stuff as much as I do,
                                            I hope you find something of interest in here. <strong>If you'd like notification of new content, subscribe below or follow me on twitter. &nbsp;<a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></p>
										<ul class="actions">
											<li><a href="#" class="button big">Subscribe</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src={% static "images/pic10.jpg" %} alt="" />
									</span>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Site Sections</h2>
									</header>
									<div class="features">
										<article>
											<span class="icon fa-cogs"></span>
											<div class="content">
												<h3>Home Automation</h3>
												<p>IoT and home automation has come a long way in the last couple of years, but there are still needs for "hacks" and hombrew projects to fill the gaps and get everything working the way it should...</p>
											</div>
										</article>
										<article>
											<span class="icon fa-file-code-o"></span>
											<div class="content">
												<h3>Programming Projects</h3>
												<p>I write programs for fun, in-house business use and... well just to learn. These are the programs that I have worked on. I'm sure they are not all perfect but hey, life's a journey...</p>
											</div>
										</article>
										<article>
											<span class="icon fa-graduation-cap"></span>
											<div class="content">
												<h3>Tutorials</h3>
												<p>Sometimes I like to do tutorials and lessons to help others and to help me learn/remember what I am doing...</p>
											</div>
										</article>
										<article>
											<span class="icon fa-file-archive-o"></span>
											<div class="content">
												<h3>Catch all</h3>
												<p>This is where everything ends up that does not fit into one of the other catagories.</p>
											</div>
										</article>
									</div>
								</section>

							<!-- Section -->
								<!--<section>
									<header class="major">
										<h2>Ipsum sed dolor</h2>
									</header>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src={% static "images/pic01.jpg" %} alt="" /></a>
											<h3>Interdum aenean</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src={% static "images/pic02.jpg" %} alt="" /></a>
											<h3>Nulla amet dolore</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src={% static "images/pic03.jpg" %} alt="" /></a>
											<h3>Tempus ullamcorper</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src={% static "images/pic04.jpg" %} alt="" /></a>
											<h3>Sed etiam facilis</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src={% static "images/pic05.jpg" %} alt="" /></a>
											<h3>Feugiat lorem aenean</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src={% static "images/pic06.jpg" %} alt="" /></a>
											<h3>Amet varius aliquam</h3>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
									</div>
								</section>
								-->

						</div>
					</div>


{% endblock %}