{% extends "layouts/homepage.html" %}
{% load staticfiles %}
{% block main %}
					<div id="main">
						<div class="inner">

							<!-- Header -->
								{% include "layouts/header.html" %}

							<!-- Content -->
								<section>
									<header class="main">
									 <div id="editor">
										<h1>{{ article.title }}</h1>
									</div>
									</header>
                                    {% if article.header_image %}
									<img src="{{ article.header_image.url }}">
                                {% endif %}

									{% autoescape off %}
									<div id="mainContentEditor">	
										{{ article.content }}
									</div>
                                        <br />
                                        <div id="toc" class="box">

                                        <table>
                                            <thead>Table of Contents</thead>
                                            {%  for child in children %}
                                                <tr>
                                                {% if child.slug %}
                                                    <td><a href="{% url 'article' child.slug %}">{{ child.title }}</a></td>
                                                {% elif child.link %}
                                                    <td><a href="{{ child.link }}">{{ child.title }}</a></td>
                                                {% endif %}
                                                </tr>
                                            {% endfor %}
                                            <tr></tr>
                                        </table>
                                        </div>
									{% endautoescape %}

								</section>

						</div>
					</div>

<script> 
</script>
{% endblock %}
