{% extends "editorial/layouts/homepage.html" %}
{% load staticfiles %}
{% block main %}
    <div id="main">

						<div class="inner">

							<!-- Header -->
								{% include "editorial/layouts/header.html" %}


							<!-- Section -->
								<section>
									<header class="major">
										<h2>Site Sections</h2>
									</header>
									<div class="features">
										<article>
											<span class="icon fa-cogs"></span>
											<div class="content">
												<h3>Home Automation</h3>
												<p>IoT and home automation has come a long way in the last couple of years, but there are still needs for "hacks" and hombrew projects to fill the gaps and get everything working the way it should...</p>
											</div>
										</article>
										<article>
											<span class="icon fa-file-code-o"></span>
											<div class="content">
												<h3>Programming Projects</h3>
												<p>I write programs for fun, in-house business use and... well just to learn. These are the programs that I have worked on. I'm sure they are not all perfect but hey, life's a journey...</p>
											</div>
										</article>
										<article>
											<span class="icon fa-graduation-cap"></span>
											<div class="content">
												<h3>Tutorials</h3>
												<p>Sometimes I like to do tutorials and lessons to help others and to help me learn/remember what I am doing...</p>
											</div>
										</article>
										<article>
											<span class="icon fa-file-archive-o"></span>
											<div class="content">
												<h3>Catch all</h3>
												<p>This is where everything ends up that does not fit into one of the other catagories.</p>
											</div>
										</article>
									</div>
								</section>



						</div>
					</div>


{% endblock %}